[Unit]
Description=pxf
After=syslog.target

[Service]
User=gpadmin
Group=gpadmin
Environment=LAUNCHED_BY_SYSTEMD=true
ExecStart=/usr/local/pxf-gp6/bin/pxf start
ExecStop=/usr/local/pxf-gp6/bin/pxf stop
Type=forking
PIDFile=/usr/local/pxf-gp6/run/pxf-app.pid
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target